body {
	min-height: 500px;
	padding-top: 56px;
}

.jumbotron {
	background-image: linear-gradient(-45deg, rgb(255, 175, 110), rgb(255, 150, 150), rgb(255, 150, 150));
	color: black;
}

.navbar-nav li > a {
	color: white !important;
	text-align: center;
}

.navbar-nav li > a:hover {
	background-color: rgb(72, 77, 81);
	border-radius: .25rem;
	text-align: center;
}

.footer {
	margin-top: 30px;
	margin-bottom: 30px;
	position: absolute
	bottom: 0;
	width: 100%;
	text-align: center;
	color: rgb(190, 190, 190);
}

/* Correct the offset that is caused by the navbar when using anchors */
:target:before
{
	content: "";
	display: block;
	height: 56px;
	margin-top: -56px;
}

/* Make the important dates and RE information always visible */
.sticky-offset {
	top: 76px; /* 56 + 20 */
}

/* Ensure that the important dates and RE information is always shown first */ 
.row {
	flex-wrap: wrap-reverse;
}

.organizers{
	width: 24.15%;
}

/* Used on smaller screens to start new line */ 
.ws-date {
	font-weight: bold;
}

.strike-through {
	text-decoration: line-through;
}

/* Improves presentation of deadlines */
.card-body {
	padding-right: 0px;
}

@media (max-width: 350px) {

	.ws-date {
		display: block;
	}
	
	h1 {
		font-size: xx-large;
	}

}

@media (max-width: 575.98px) {

	.jumbotron {
		text-align: center;
	}

	.jumbotron h1 {
		font-size: xx-large;
	}

	.jumbotron .btn {
		display: block;
		margin-bottom: .5em;
	}

}

@media (max-width: 991.98px) {
	
	.container .row .col-md-8 {
		margin-top: 25px;
	}

	.organizers {
		width: 49%;
		margin-bottom: 5px;
	}

}

@media (min-width: 767.98px) and (max-width: 1199.98px) {
	
	.ws-date {
		display: block;
	}
	
}
